<style>
  .eight-container--{{ section.id }} {
    background: {{ section.settings.color }};
  }
</style>

<div class="eight-container--{{ section.id }}" style="padding: 20px; display: flex; flex-direction: column; align-items: center">
  <h1>Eight</h1>
  {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url }}" alt="{{ section.settings.image.alt }}">
  {% endif %}
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
      <p>{{ block.settings.text }}</p>
    {% when 'button' %}
      <a 
        href="{{ block.settings.link }}"
        style="width: 200px; padding: 10px; margin: 20px 0; text-align: center; background: black; color: white; text-decoration: none;"
      >
        {{ block.settings.link_text}}
      </a>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Eight's section name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text content"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Button"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Button text",
          "default": "Shop all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Eight's preset name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}