<style>
  .eight-container--{{ section.id }} {
    background: {{ section.settings.color }};
  }
</style>

<div class="eight-container--{{ section.id }}" style="padding: 20px; display: flex; flex-direction: column; align-items: center">
  <h1>Eight</h1>
  {% if section.settings.text != blank %}
    <p>{{ section.settings.text }}</p>
  {% endif %}
  {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url }}" alt="{{ section.settings.image.alt }}">
  {% endif %}
  {% if section.settings.link != blank %}
    <a 
      href="{{ section.settings.link }}"
      style="width: 200px; padding: 10px; margin: 20px 0; text-align: center; background: black; color: white; text-decoration: none;"
    >
      {{ section.settings.link_text}}
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Eight's section name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button text"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Eight's preset name"
    }
  ]
}
{% endschema %}